<time class="card__calendar" datetime="<%= meeting.start_time.iso8601 %>">
  <span class="card__calendar-month">
    <span><%= l(meeting.start_time, format: same_month? ? "%B" : "%b") %></span>
    <% unless same_month? %>
      <span class="card__calendar-separator">-</span>
      <span><%= l(meeting.end_time, format: "%b") %></span>
    <% end %>
  </span>
  <span class="card__calendar-day">
    <span><%= l(meeting.start_time, format: "%d") %></span>
    <% unless same_day? && same_month? %>
      <span class="card__calendar-separator">-</span>
      <span><%= l(meeting.end_time, format: "%d") %></span>
    <% end %>
  </span>
  <span class="card__calendar-year">
    <span><%= l(meeting.start_time, format: "%Y") %></span>
    <% unless same_year? %>
      <span class="card__calendar-separator">-</span>
      <span><%= l(meeting.end_time, format: "%Y") %></span>
    <% end %>
  </span>
</time>
