<time class="card__calendar" datetime="<%= meeting.start_time.iso8601 %>">
  <span class="card__calendar-month">
    <p><%= l(meeting.start_time, format: same_month? ? "%B" : "%b") %></p>
    <% unless same_month? %>
      <p class="card__calendar-separator">-</p>
      <p><%= l(meeting.end_time, format: "%b") %></p>
    <% end %>
  </span>
  <span class="card__calendar-day">
    <p><%= l(meeting.start_time, format: "%d") %></p>
    <% unless same_day? && same_month? %>
      <p class="card__calendar-separator">-</p>
      <p><%= l(meeting.end_time, format: "%d") %></p>
    <% end %>
  </span>
  <span class="card__calendar-year">
    <p><%= l(meeting.start_time, format: "%Y") %></p>
  </span>
</time>
