<% non_empty_items = breadcrumb_items.reject(&:empty?) %>
<% if breadcrumb_items.size > 1 %>
  <% previous_item = non_empty_items[-2] || non_empty_items[-1] %>
<% end %>
<div class="menu-bar__breadcrumb-mobile__dropdown-trigger">
  <span class="menu-bar__breadcrumb-mobile__label-wrapper">
    <span class="menu-bar__breadcrumb-mobile__label">
      <% if previous_item %>
        <% item_label = translated_attribute(previous_item[:label]) %>
        <% if previous_item[:url].present? && !is_active_link?(previous_item[:url], :exclusive) %>
          <%= link_to(previous_item[:url], class: "menu-bar__breadcrumb-item", data: { controller: "breadcrumb-truncate" }) do %>
            <span aria-hidden="true" class="flex items-center"><%= icon "arrow-left-s-line" %></span>
            <span class="menu-bar__breadcrumb-text" data-breadcrumb-truncate-target="text"><%= item_label %></span>
          <% end %>
        <% else %>
          <span class="menu-bar__breadcrumb-item" data-controller="breadcrumb-truncate">
            <span class="menu-bar__breadcrumb-text" data-breadcrumb-truncate-target="text"><%= item_label %></span>
          </span>
        <% end %>
      <% else %>
        <%= link_to decidim.root_url, class: "menu-bar__breadcrumb-item", data: { controller: "breadcrumb-truncate" } do %>
          <span aria-hidden="true" class="flex items-center"><%= icon "arrow-left-s-line" %></span>
          <span class="menu-bar__breadcrumb-text" data-breadcrumb-truncate-target="text"><%= t("decidim.menu.home") %></span>
        <% end %>
      <% end %>
    </span>
  </span>
  <% if content_for?(:participatory_space_mobile_actions) %>
    <div class="menu-bar__actions-mobile">
      <%= content_for :participatory_space_mobile_actions %>
    </div>
  <% end %>
</div>
