<div id="<%= id %>" class="menu-bar__main-dropdown menu-bar__dropdown-desktop test">
  <button id="main-dropdown-summary-desktop-close" class="main-bar__links-desktop__trigger"
          data-controller="dropdown"
          data-target="dropdown-menu-main-desktop">
    <%= icon "close-line" %><span><%= t("close", scope: "layouts.decidim.header") %></span>
  </button>
  <%= breadcrumb_root_menu.render %>
  <div class="menu-bar__main-dropdown__left">
    <%= cell("decidim/highlighted_participatory_process", menu_highlighted_participatory_process) %>
  </div>
</div>
