<div data-controller="show-replies"
     data-show-replies-url-value="<%= decidim_comments.comments_path %>"
     data-show-replies-comment-gid-value="<%= model.to_signed_global_id.to_s %>"
     data-show-replies-order-value="<%= order %>"
     data-show-replies-loaded-value="false">
  <div class="show-replies-button">
    <button class="button button__xs button__text-secondary"
            data-action="click->show-replies#toggle"
            data-show-replies-target="button"
            aria-expanded="false"
            aria-controls="comment-<%= model.id %>-replies"
            id="comment-<%= model.id %>-replies-trigger">
      <span class="font-normal"><%= t("decidim.components.comment.replies_count", count: replies_count) %></span>
      <%= icon "arrow-down-s-line" %>
      <%= icon "arrow-up-s-line" %>
    </button>
    <span data-show-replies-target="spinner" class="ml-2 hidden"><%= icon "loader-3-line", class: "animate-spin fill-secondary" %></span>
  </div>
  <div id="comment-<%= model.id %>-replies"
       data-show-replies-target="container"
       class="comment-reply hidden">
  </div>
</div>
