<% add_decidim_page_title(t(".title")) %>

<% append_javascript_pack_tag "decidim_elections_admin" %>
<% append_stylesheet_pack_tag "decidim_elections_admin" %>

<div class="item_show__header border-none">
  <h1 class="item_show__header-title">
    <%= t(".title") %>
  </h1>
</div>

<%= render "decidim/elections/admin/elections/tabs_menu" %>

<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= decidim_form_for(@form, html: { id: "basic-election-form-new", class: "form-defaults form new_election" }) do |f| %>
      <%= render partial: "form", object: f %>
    <% end %>

    <div class="item__edit-sticky">
      <div class="item__edit-sticky-container">
        <%= button_tag t("save", scope: "decidim.elections.admin.elections.form"), class: "button button__sm button__secondary", form: "basic-election-form-new" %>
      </div>
    </div>
  </div>
</div>
