<div class="comments-section__<%= @title.parameterize %>">
  <div class="comments-section__header">
    <%= icon @icon_name, class: "icon" %>
    <span class="comments-section__title"><%= @title %></span>
  </div>

  <% if @top_comment.present? %>
    <div class="top-comment">
      <%= cell("decidim/comments/comment_thread", @top_comment, order:, top_comment: true) %>
    </div>
  <% end %>

  <% if @comments.any? %>
    <% @comments.each do |comment| %>
      <%= cell("decidim/comments/comment_thread", comment, order:) %>
    <% end %>
  <% elsif @top_comment.blank? %>
    <p class="comments-section__no-comments"><%= t("decidim.components.comments.no_comments_yet") %></p>
  <% end %>

  <% if @has_more %>
    <% offset = @comments.size + (@top_comment.present? ? 1 : 0) %>
    <%= controller.view_context.render partial: "decidim/comments/comments/load_more_comments", locals: { commentable: model, order:, offset:, alignment: @alignment } %>
  <% end %>
</div>
