<% add_decidim_meta_tags(
  title: translated_attribute(current_participatory_space.title),
  image_url: resolve_meta_image_url(current_participatory_space),
  description: translated_attribute(current_participatory_space.short_description),
  url: participatory_process_url(current_participatory_space),
  resource: current_participatory_space) %>

<%
  edit_link(
   decidim_admin_participatory_processes.edit_participatory_process_landing_page_path(current_participatory_space),
   :update,
   :process,
   process: current_participatory_space
  )
%>

<%= render partial: "layouts/decidim/header/follow_space_menu_bar_button", locals: { participatory_space: current_participatory_space } %>

<main role="main">
  <% if current_participatory_space.restricted? %>
    <section class="participatory-space__block-reference alert">
      <%= t("restricted_space", scope: "decidim.participatory_spaces.show") %>
    </section>
  <% end %>

  <% if current_participatory_space.transparent? %>
    <section class="participatory-space__block-reference alert">
      <%= t("transparent_space", scope: "decidim.participatory_spaces.show") %>
    </section>
  <% end %>

  <div class="participatory-space__container">

    <%= participatory_space_floating_help %>
    <%= cell "decidim/participatory_processes/process_step", current_participatory_space, display_steps: params[:display_steps] %>

    <% active_content_blocks.each do |content_block| %>
      <% next unless content_block.manifest %>

      <%= cell content_block.manifest.cell, content_block %>
    <% end %>

  </div>

  <aside class="layout-container__reference" aria-label="reference">
    <p><%= resource_reference(current_participatory_space) %></p>
  </aside>
</main>
