<tr>
  <td data-label="<%= t("models.collaborative_text.fields.title", scope: "decidim.collaborative_texts") %>">
    <% if allowed_to? :update, :collaborative_text, document: document %>
      <%= link_to translated_attribute(document.title), edit_document_path(document) %><br>
    <% else %>
      <%= translated_attribute(document.title) %><br>
    <% end %>
  </td>
  <td data-label="<%= t("models.collaborative_text.fields.suggestions", scope: "decidim.collaborative_texts") %>">
    <span class="label <%= document.accepting_suggestions ? "success" : "alert" %> !text-sm">
      <%= humanize_boolean document.accepting_suggestions %>
    </span>
  </td>
  <td data-label="<%= t("models.collaborative_text.fields.published", scope: "decidim.collaborative_texts") %>">
    <% if document.published? %>
      <span class="label success !text-sm"><%= t("admin.index.published", scope: "decidim.collaborative_texts") %></span>
    <% else %>
      <span class="label alert !text-sm"><%= t("admin.index.unpublished", scope: "decidim.collaborative_texts") %></span>
    <% end %>
  </td>
  <td class="table-list__actions" data-label="<%= t("actions.title", scope: "decidim.collaborative_texts") %>">
    <%= render partial: "decidim/collaborative_texts/admin/documents/actions", locals: { document:, view: } %>
  </td>
</tr>
