<% add_decidim_meta_tags(
  title: translated_attribute(current_participatory_space.title),
  description: translated_attribute(current_participatory_space.short_description),
  url: assembly_url(current_participatory_space),
  resource: current_participatory_space) %>

<%
edit_link(
  decidim_admin_assemblies.edit_assembly_landing_page_path(current_participatory_space),
  :update,
  :assembly,
  assembly: current_participatory_space
)
%>

<%= render partial: "layouts/decidim/header/follow_space_menu_bar_button", locals: { participatory_space: current_participatory_space } %>

<main>
  <% if current_participatory_space.restricted? %>
    <section class="participatory-space__block-reference alert">
      <%= t("restricted_space", scope: "decidim.participatory_spaces.show") %>
    </section>
  <% end %>

  <% if current_participatory_space.transparent? %>
    <section class="participatory-space__block-reference alert">
      <%= t("transparent_space", scope: "decidim.participatory_spaces.show") %>
    </section>
  <% end %>

  <div class="participatory-space__container">

    <%= participatory_space_floating_help %>

    <% active_content_blocks.each do |content_block| %>
      <% next unless content_block.manifest %>
      <%= cell content_block.manifest.cell, content_block %>
    <% end %>

  </div>

  <section class="participatory-space__block-reference">
    <p><%= resource_reference(current_participatory_space) %></p>
  </section>
</main>
